# notebooks curso
aula0_projeto_spark.ipynb
Spark_regressão.ipynb

# bases de dados
dados/
imdb-reviews-pt-br.csv
imoveis.json
gpt-python-1-dados/
curso_1_openai/
*.json
dados.csv

# proteção da chave de acesso
.env
*.env

# ambiente virtual
venv/

# extensões indesejadas
*.pyc
*.xml